
<fieldset style="border: solid" border-width="100">

 <ul>
    
    <h5>Menu de Opçoes</h5>
<li><a href="Index.php">Menu Principal</a></li>
    <li><a href="CadastrarAluno.php">Cadastrar Alunos</a></li>
    <li><a href="CadastrarProfessor.php">Cadastrar Professor</a></li>
    <li><a href="RemoverAluno.php">Remover Aluno</a></li>
    <li><a href="RemoverProfessor.php">Remover Professor</a></li>
    <li><a href="EditarAluno.php">Editar Aluno</a></li>
    <li><a href="EditarProfessor.php">Editar Professor</a></li>
    <li><a href="ExibirAluno.php">Exibir Aluno</a></li>
    <li><a href="ExibirProfessor.php">Exibir Professor</a></li>
</ul>
</fieldset>